/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {color : Blue;}
  display: none;
}
tei-placeName {color : red;}
tei-persName {color : Blue;}
tei-orgName {color :red;}
tei-author {color : Blue;}
