/* Add your own CSS rules here */
#description {
  margin: 0 0 1em 0;
}

tei-teiHeader {
  display: none;
}
tei-supplied {color: red;}

tei-persName xml:id="WW" {color: SeaGreen;}
tei-persName xml:id="BLK" {color: Yellow;}
tei-orgName xml:id="PD" {color: Tomato;}
